#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    header {
      position: relative;
      margin-left: auto;
      .todo-btn-wrapper {
        padding-bottom: 20px;
        text-align: start;
      }

      .todo-btn-wrapper:hover + .todo-card {
        opacity: 1;
        margin-right: 0px;
      }

      .todo-card {
        text-align: start;
        opacity: 0;
        margin-right: -100px;
        width: 250px;
        position: absolute;
        right: 0px;
        border: solid 1px black;
        padding: 10px;
        border-radius: 5px;
        background-color: #64646452;
        transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        li span {
          float: right;
        }
      }
    }
  }

  section {
    .input-wrapper {
      transform: scale(0, 0);
      transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
    .input-wrapper.active {
      width: 500px;
      height: 100px;
      transform: scale(1, 1);
    }
    .btn {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0px);
      transition: all 0.3s ease-in-out;
    }
    .btn.active {
      margin-top: 100px;
    }
  }
}

.logo {
  /* height: 6em; */
  padding: 1.5em;
  animation: logo-spin infinite 3s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typo {
  &::after {
    content: "";
    margin-left: 3px;
    width: 2px;
    height: 100%;
    background-color: white;
    border-right: solid 2px white;
    animation: type infinite 0.9s linear;
  }
}

@keyframes type {
  0% {
    opacity: 0;
    // visibility: hidden;
  }
  50% {
    opacity: 1;
    // visibility: visible;
  }
  100% {
    opacity: 0;
    // visibility: hidden;
  }
}
