// @import "@sweetalert2/theme-wordpress-admin/wordpress-admin.scss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  .App {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    height: 100vh;

    header {
      position: relative;
      margin-left: auto;
      flex: 1;
      .todo-btn-wrapper {
        padding-bottom: 20px;
        text-align: start;
      }

      .todo-btn-wrapper:hover + .todo-card {
        opacity: 1;
        margin-right: 0px;
      }

      .todo-card {
        text-align: start;
        opacity: 0;
        margin-right: -100px;
        width: 250px;
        position: absolute;
        right: 0px;
        border: solid 1px black;
        padding: 10px;
        border-radius: 5px;
        background-color: rgb(56, 56, 56);
        transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
        li span {
          float: right;
        }
      }
    }
    footer {
      flex: 1;
    }
  }

  section {
    flex: 8;
    padding: 3rem 0;
    .input-wrapper {
      margin: 0 auto;
      transform: scale(0, 0);
      transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

      & textarea {
        width: 100%;
        height: 150px;
      }

      .submit-btn-container {
        display: flex;
        justify-content: center;
        .content {
          flex: 0;
          opacity: 0;
          max-width: fit-content;
          transition: all 0.1s 1s ease-in;
        }
        .dummy {
          flex: 0;
          transition: flex 0.5s 1s ease-in;
        }
      }
    }
    .input-wrapper.active {
      // width: 500px;
      width: 100%;
      height: 100px;
      transform: scale(1, 1);
      .submit-btn-container {
        flex: auto;
        margin-top: 22px;
        .content {
          flex: 1;
          opacity: 1;
          max-width: fit-content;
        }
        .dummy {
          flex: 1;
        }
      }
    }
    .joke-btn {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%, 0px);
      transition: all 0.3s ease-in-out;
    }
    .joke-btn.active {
      margin-top: 220px;
    }
  }
}

.logo {
  /* height: 6em; */
  padding: 1.5em;
  animation: logo-spin infinite 3s linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.typo {
  &::after {
    content: "";
    margin-left: 3px;
    width: 2px;
    height: 100%;
    background-color: white;
    border-right: solid 2px white;
    animation: type infinite 0.9s linear;
  }
}

@keyframes type {
  0% {
    opacity: 0;
    // visibility: hidden;
  }
  50% {
    opacity: 1;
    // visibility: visible;
  }
  100% {
    opacity: 0;
    // visibility: hidden;
  }
}
